{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}
{{ $strReviewed := .section.strReviewed }}

<div class="container-fluid anchor pb-5 publications-section" id="{{ $sectionID }}">
    {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
    {{ end }}

    <div class="container">

                {{ range $index, $paper := .Papers }}
                  <div style="margin:10px 0 10px 0">
                    [{{ add $index 1 }}]
                    {{ if .paper.is_reviewed}}
                      <b>( {{ $strReviewed }} )</b>
                    {{ end }}

                    {{ .paper.authors }} :"{{.paper.title }}", 
                    {{ if ne .paper.book "" }}
                        {{.paper.book }}, 
                    {{ end }}
                    {{ if ne .paper.volume "" }}
                        Vol. {{.paper.volume }}, 
                    {{ end }}
                    {{ if ne .paper.number "" }}
                        No. {{.paper.number }},
                    {{ end }}
                    pp {{.paper.pages }}, ({{.paper.year }}), 
                    {{ if ne .paper.place "" }}
                        {{.paper.place }} 
                    {{ end }}

                  <a href="{{ .paper.url }}">[Link]</a>
                  </div>
                {{ end }}
    </div>
</div>
